body{
    background-color: grey;
    display: flex;
    justify-content:center ;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.container{
    margin-top: 100px;
    width: 750px;

    background-color: white;
}
.card-body{
    text-align: center;
}
.card-title{
    margin-left: 40px;
}
ul{
    list-style-type: none;
}